version: '3.4'

services:
  app: 
    image: frontvue
    container_name: composevuejsfront
    ports: 
      - 8080:80

    depends_on:
      - api
      - db
    networks:
      labnet:
        ipv4_address: "172.12.200.12"
  
  api:
    image: nodejsapiserver
    container_name: composeapipessoa
    ports: 
      - 3333:3333
    depends_on:
      - db
    networks:
      labnet:
        ipv4_address: "172.12.200.11"

  db:
    image: mysql
    container_name: composeexemplomysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=teste
    ports:
      - 3306:3306
    networks:
      labnet:
        ipv4_address: "172.12.200.10"

networks:
  labnet:
    driver: bridge
    ipam:
      driver: default
      config:
      - subnet: 172.12.200.0/24
