version: '3.4'

services:
  app: 
    image: app-labso
    container_name: compose-app-labso
    ports: 
      - 80:8080
    environment:
      - VITE_BASE_IP=http://44.204.192.254
      - VITE_API_PORT=3333

    depends_on:
      - api
      - db
  

  api:
    image: api-labso
    container_name: compose-api-labso
    environment:
      - DATABASE_URL=mysql://root:root@172.22.0.2:3306/labso
    ports: 
      - 3333:3333
    command: bash -c "npx prisma db push && npm run start"
    depends_on:
      db:
        condition: service_healthy
        

#TODO volumes to maintain data
  db:
    image: mysql
    container_name: compose-bd-labso
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=labso
    ports:
      - 3306:3306
    healthcheck:
      test: mysqladmin ping -h 172.20.0.2 -u root -p$$MYSQL_ROOT_PASSWORD || exit 1
      retries: 3

